{% extends "icbl/views/templates/basebg.html" %}
{% block content %}
  <script>
  function kirim(btn){
    document.getElementById("pf"+btn).submit();
  }
  </script>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="text-center">
      Selamat Datang Orang Tua {{nama}} !
      </h2>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div align="center">
          <div class="text-default">
            <strong>Silakan Pilih!</strong>

          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" align="center">
          <button class="btn btn-warning" onClick="kirim(1)">GANTI PASSWORD</button>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" align="center">
          <button class="btn btn-success" onClick="kirim(2)">LIHAT HASIL</button>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <br>

    </div>
  </div>
  <form method="POST" action="/ortu-ganti-pw" name="pf1" id="pf1">
  </form>
  <form method="POST" action="/ortu-lihat-hasil" name="pf2" id="pf2">
  </form>

{% endblock %}
