{% extends "icbl/views/templates/basebg.html" %}

{% block content %}
    <style>
      table {
        background-color: #FFFFFF;
      }
      .bsubmit {
        width: 80px;
        background-color: #FFFFFF;
        border-style: none;
      }
    </style>
    <script>

        function convert(nilai){
           var snilai="";
           var lnilai=nilai.length;
           if (lnilai <= 2){
               snilai=nilai+",00";
           }else{
             if (lnilai == 3){
                snilai = nilai.substring(0,1)+","+nilai.substring(2,3)+"0";
             }else{
                snilai = nilai.substring(0,1)+","+nilai.substring(2,(nilai.length));
             }
           }
           return snilai;
        }
    </script>
    <div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="text-center">
      Selamat Datang {{nama}} !
      </h2>
    </div>
    </div>
    <h2 align="center">HASIL TEST</h2>
    <form method="POST" action="/home-detail-set">
    <table border="1" align="center">
        <tr>
          <td>Tanggal</td>
          <td>Kode Soal</td>
          <td>Nilai</td>
        </tr>
        {% for datum in data %}
        <tr>
            <td><script>document.write('{{datum.tanggal}}'.substring(0,10))</script></td>
            <td><input type="submit" class="bsubmit" name="kode" value="{{datum.kode}}" /></td>
            <td><script>document.write(convert('{{datum.nilai}}'))</script></td>
        </tr>
        {% endfor %}
    </table>
    </form>
{% endblock %}
