{% extends "icbl/views/templates/basebg.html" %}
{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
      <h2 class="text-center">
      Selamat Datang {{nama}} !
      </h2>
    </div>
  </div>
<div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div align="center">
          <div class="text-default">
            <h4>
              Prosen TKPA: {{ntkpa}}<br>
              Prosen {{sainsoshum}}: {{nipaorips}}<br>
              Prosen total: {{ntot}}
            </h4>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div align="center">
          <div class="text-default">
          <form method="POST" action="/home-next-univ">
            <select name="ptn">
              {% for uni in univ %}
                 <option id="{{uni.ptn}}" value="{{uni.ptn}}">{{uni.ptn}}</option>
              {% endfor %}
            </select>
            <input type="submit" class="btn btn-success" value="KIRIM" />
            <input type="hidden" name="ntot" value="{{ntot}}" />
            <input type="hidden" name="ntkpa" value="{{ntkpa}}" />
            <input type="hidden" name="nipaorips" value="{{nipaorips}}" />
            <input type="hidden" name="kelompok" value="{{kelompok}}" />
          </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div align="center">
          <div class="text-default">
            Jurusan yang lulus di {{ptn}}<br>
            <table border="1">
              <tr><td>Kode</td><td>Jurusan</td><td>Prediksi PG</td></tr>
              {% for jur in jurusan %}
              <tr><td>{{jur.kodejur}}</td><td>{{jur.jurusan}}</td><td>{{jur.nm}}</td></tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
  </div>
  <script>document.getElementById('{{ptn}}').selected="true";</script>
</div>
{% endblock %}
